
@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

body {
  font-family: myfont;
  font-size: 14px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: myfont;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  font-family: myfont;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  font-size: 15px;
}

.overlay-effect {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
/*--
    custom heading Start
--*/
.heading {
  text-align: center;
  font-weight: 500;
  color: #2E2E2E;
  padding: 40px 0px;
  position: relative;
}
.heading span {
  font-size: 45px;
  color: #ff530a;
  font-weight: 600;
}
.heading:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}

.title {
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 30px 0px;
}
.title span {
  color: #FF5333;
}
.before-border {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}

.transition {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

#hero-area {
  position: relative;
}
#hero-area:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
/*--
    nav Start
--*/
nav {
  z-index: 99999;
  width: 100%;
}
nav .block {
  margin-top: -85px;
  background: #fff;
  padding: 25px 40px;
  background: rgba(255, 255, 255, 0.89);
}
nav .block .navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
  background: none;
}
nav .block .navbar-default .navbar-brand {
  padding-left: 0px;
}
nav .block .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .block .navbar-default .navbar-nav > li > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
  font-size: 15px;
  text-transform: uppercase;
}
nav .block .navbar-default .navbar-nav > li > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 0;
}
nav .block .navbar-default .navbar-nav > li > a:hover:before {
  background-color: #e94c3d;
  content: "";
  width: 100%;
}
nav .block .navbar-default .navbar-nav > li.current > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
}



#about-us {
  padding: 100px 0px;
  background: #F6F6F6;
}
#about-us .block {
  text-align: center;
}
#about-us .block p {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0px;
}

